*.py[cod]

# C extensions
*.so
*.gitignore~
# Packages
*.egg
*.egg-info
*.css~
*.html~
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# dbs
*.db

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# DIRS
gurtPorject_files/
dev_files/
grappelli/
django/
gurtPorject/assets/
gurtPorject/templates/



