/* CSS Document */

.banner img {
	margin: 0 auto;
	border: 1px solid #00387d;
	}
	
.rating_main {
	float: left;
	background-color: white;
	width: 900px;
	margin: 10px 0 0 0;
	padding: 0;
	}
	
.rating_area {
	float: left;
	width: 900px;
	margin: 0;
	padding: 0;
	}
	
.rating_area_title {
	float: left;
	background-color: #f2a91c;
	margin: 0;
	padding: 5px 10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: .6em;
	color: white;
	}

.rating_area_title a:link, .rating_area_title a:visited {
	text-decoration: underline;
	color: white;
	font-weight: bold;
	}
	
.rating_area_title a:hover, .rating_area_title a:active {
	text-decoration: underline;
	color: #E6E6E6;
	font-weight: bold;
	}

.rating_area_title a#current {
	text-decoration: none;
	color: white;
	font-weight: bold;
	}
	
.rating_area_content {
	float: left;
	background: url(/images/site/mainfade.png);
	background-position: left top;
	background-repeat: repeat-x;
	width: 878px;
	margin: 0;
	padding: 10px;
	border: 1px solid #f2a91c;
	}
	
.ra_left {
	float: left;
	width: 576px;
	margin: 0;
	padding: 0;
	}
	
.add_rating_title {
	float: left;
	background-color: #00387d;
	margin: 0;
	padding: 5px 10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: .6em;
	font-weight: bold;
	color: white;
	}
	
.add_rating {
	float: left;
	background-color: white;
	width: 544px;
	margin: 0;
	padding: 5px 10px;
	border: 1px solid #00387d;
	}
	
.arc_title {
	float: left;
	background-color: white;
	width: 544px;
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	}
	
.arc_text {
	float: left;
	width: 544px;
	margin: 0;
	padding: 3px 0 0 0;
	font-family: Verdana, Arial;
	font-size: .7em;
	line-height: 1.5em;
	color: black;
	}
	
.arc_text a:link, .arc_text a:visited {
	text-decoration: none;
	color: #00387d;
	font-weight: bold;
	}
	
.arc_text a:hover, .arc_text a:active {
	text-decoration: underline;
	color: #00387d;
	font-weight: bold;
	}
	
.arc_text .alert#thanks {
	float: left;
	background-color: #f0f7ff;
	width: 532px;
	margin: 3px 0 0 0;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	color: #00387d;
	border: 1px solid #00387d;
	}
	
.arc_text .alert#incomplete {
	float: left;
	background-color: #ffeeee;
	width: 532px;
	margin: 3px 0 0 0;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	color: #930000;
	border: 1px solid #d80000;
	}
	
.rating_cell {
	float: left;
	background-color: white;
	width: 544px;
	margin: 5px 0 0 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: .7em;
	color: black;
	}
	
.rating_cell a:link, .rating_cell a:visited {
	text-decoration: none;
	color: #00387d;
	font-weight: bold;
	}
	
.rating_cell a:hover, .rating_cell a:active {
	text-decoration: underline;
	color: #00387d;
	font-weight: bold;
	}
	
.rating_row1 {
	float: left;
	width: 544px;
	margin: 0;
	padding: 5px 0;
	}
	
.rating_row1#row1color {
	background-color: #f0f7ff;
	}
	
.rating_row1 .filler_col {
	float: left;
	width: 380px;
	height: 10px;
	}
	
.rating_row1 .col_one {
	float: left;
	width: 380px;
	}

.rating_row1 .col_one .subinfo {
	clear: left;
	font-size: .9em;
	}
	
.rating_row1 .col_smile {
	float: left;
	width: 25px;
	text-align: center;
	}

.rating_row1 .col_smile .subinfo {
	clear: left;
	font-size: .8em;
	}

.rating_row1 .col_two {
	float: left;
	width: 20px;
	text-align: center;
	}
	
.rating_row1 .col_three {
	float: left;
	width: 20px;
	text-align: center;
	}
	
.rating_row1 .col_four {
	float: left;
	width: 20px;
	text-align: center;
	}
	
.rating_row1 .col_five {
	float: left;
	width: 20px;
	text-align: center;
	}
	
.rating_row1 .col_six {
	float: left;
	width: 20px;
	text-align: center;
	}
	
.rating_row2 {
	float: left;
	width: 544px;
	padding: 5px 0;
	}
	
.rating_row2#row2color {
	background-color: #f0f7ff;
	}

.rating_row2 .left_text {
	float: left;
	width: 300px;
	font-weight: bold;
	}
	
.rating_row2 .left_filler {
	float: left;
	width: 300px;
	height: 10px;
	font-size: .9em;
	}
	
.rating_row2 .rightoption1name {
	float: left;
	width: 100px;
	text-align: center;
	}

.rating_row2 .rightoption2name {
	float: left;
	width: 100px;
	text-align: center;
	}
	
.rating_row2 .rightoption1 {
	float: left;
	width: 100px;
	text-align: center;
	}

.rating_row2 .rightoption2 {
	float: left;
	width: 100px;
	text-align: center;
	}
	
.rating_row3 {
	float: left;
	width: 544px;
	padding: 5px 0;
	}
	
.rating_row3#row3color {
	background-color: #f0f7ff;
	}
	
.rating_row3 .left_col {
	float: left;
	width: 200px;
	font-weight: bold;
	}
	
.rating_row3 .left_col .subinfo {
	clear: left;
	font-size: .9em;
	font-weight: normal;
	}
	
.rating_row3 .right_col {
	float: left;
	width: 300px;
	}
	
.rating_row3 .right_col input#class_name {
	position: relative;
	background-color: white;
	width: 200px;
	margin: 0;
	padding: 2px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	color: black;
	border: none;
	border: 1px solid black;
	}

.rating_row3 .right_col input#class_name_split {
	position: relative;
	background-color: white;
	width: 70px;
	margin: 0;
	padding: 2px;
	font-family: Verdana, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 1.0em;
	font-weight: normal;
	color: black;
	border: none;
	border: 1px solid black;
	}

.rating_row3 .right_col input#textbook_isbn {
	position: relative;
	background-color: white;
	width: 200px;
	margin: 0;
	padding: 2px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	color: black;
	border: none;
	border: 1px solid black;
	}
	
.rating_row3 .right_col textarea {
	position: relative;
	background-color: white;
	width: 320px;
	margin: 0;
	padding: 2px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 1.4em;
	color: black;
	border: none;
	border: 1px solid black;
	}
	
.rating_row3 .right_col input#charlimit {
	position: relative;
	background-color: white;
	width: 25px;
	margin: 0;
	padding: 2px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	color: black;
	border: none;
	border: 1px solid black;
	}
	
.rating_cell .sub_rating_info {
	float: left;
	background-color: white;
	width: 544px;
	margin: 0;
	padding: 10px 0 5px 0;
	line-height: 1.4em;
	}
	
.rating_cell .sub_rating_info a:link, .rating_cell .sub_rating_info a:visited {
	text-decoration: none;
	color: #00387d;
	font-weight: bold;
	}
	
.rating_cell .sub_rating_info a:hover, .rating_cell .sub_rating_info a:active {
	text-decoration: underline;
	color: #00387d;
	font-weight: bold;
	}
	
.rating_cell input#rating_submit {
	float: left;
	background-color: #00387d;
	width: 170px;
	margin: 5px 0 5px 200px;
	padding: 3px;
	font-family: Verdana, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.0em;
	color: white;
	border: 1px solid black;
	cursor: pointer;
	}
	
.rating_cell .logintext {
	float: left;
	width: 544px;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	}
	
.rating_cell .logintext a:link, .rating_cell .logintext a:visited {
	color: #00387d;
	}
	
.rating_cell .logintext a:hover, .rating_cell .logintext a:active {
	color: #00387d;
	}

.ra_right {
	float: right;
	width: 302px;
	margin: 0;
	padding: 22px 0 0 0;
	}
	
.ra_ad {
	float: right;
	background-color: white;
	width: 302px;
	margin: 0;
	padding: 0;
	}
	
.ra_ad_title {
	float: left;
	background-color: #00387d;
	margin: 0;
	padding: 5px 10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: .6em;
	font-weight: bold;
	color: white;
	}
	
.ra_ad_content {
	float: left;
	background-color: white;
	width: 300px;
	margin: 0;
	padding: 0;
	border: 1px solid #00387d;
	}