ul, li{margin:0; border:0; padding:0; list-style:none;}
			#middlebar{
				
				height:22px;
				width: 70px;
				float: left;
				padding-left: 10px;
			}
			#middlebar .menu li {
			background:url(/images/site/search_drop.gif) left top no-repeat;
			height:22px;
			width: 70px;
			float: left;
			}
			#middlebar .menu li a#search_drop{
				display: block;
				height:22px;
				width: 70px;
				overflow: hidden;
				text-indent: -999em;
			}
			#middlebar .menu li a:hover{
			color:#666666;
			background: none;
			}
			
			#middlebar ul .submenu {
			border:solid 1px #ccc;
			font-size: 11px;
			border-top:none;
			background:#eee;
			position: absolute;
			top:60px;
			width: 70px;
			clear:both;
			z-index:2000;
			display:none;
			}
			.ie #middlebar ul .submenu {
				right: 30px;
			}
			#middlebar ul .submenu li {
			background:none;
			display:block;
			float:none;
			margin:0;
			padding: 0;
			height:auto;
			line-height:normal;
			border-top:solid 1px #ccc;
			}
			#middlebar .submenu li a{
			background:none;
			display:block;
			float:none;
			margin:0;
			padding: 5px 	3px;
			height:auto;
			color:#00416A;
			line-height:normal;
			text-align: left;
			}
			#middlebar .submenu li a:hover{
			background:#00416A;
			color: #fff;
			}